body{ 
	margin:0px ;
} 

 .axis path,	.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

#radialplots {
	position:fixed; 
	//z-index: -1;
	left:100px;
	//right:50%;
	top:70px;
	border: black 1px solid;
	margin-right:80px;
	display :none;
}
#help {
	position:fixed; 
	//z-index: -1;
	left:200px;
	//right:50%;
	top:50px;
	border: black 1px solid;
	margin-right:0px;
	display :none;
	background-color:white;
	opacity:1;
	width:700px;
	height:auto;
	padding:0px 10px;
	font-size: 12px;
}
.about{
	position:fixed; 
	display:block;
	border: #c00 0px solid;
	top:0px;
	margin:0px auto;
	min-width: 1000px;
      max-width: 1500px;
	  height:1000px;
	  opacity:1;
	  //background-color:white;
	  z-order:40;
}
rect.score {
	stroke          : gray;
	stroke-dasharray: 4px;
	stroke-opacity  : 0.5;
	fill            : gray;
	opacity			:0.05;
}
rect.event {
	stroke          : gray;
	stroke-dasharray: 4px;
	stroke-opacity  : 0.5;
	fill            : gray;
	opacity			:0.05;
}
#dline  {
	// stroke: steelblue;
	fill: none;
	stroke-width: 1px;
}			
.line {
  fill: none;
  //stroke: steelblue;
  stroke-width: 1px;
}

.cline {
  //fill: none;
  stroke: steelblue;
  stroke-width: 3px;
  stroke-opacity:0;
  	opacity			:0;
}
.partLabel  {
	position: absolute;
	stroke   : black;
	stroke-opacity  : 0.5;
	fill:black;
	opacity			:0.5;
	font-size:10pt;
	font-family: arial;
}
.eventtext {
	position: fixed;
	stroke   : black;
	//stroke-opacity  : 0.5;
	fill:black;
	//opacity			:0.5;
	font-size:10pt;
	font-family: arial;
	font-weight: normal;
}
#form {
	position: fixed;
	top: 15px; 
	left: 10px;
	display:block;
}
#videotimes {
	position: fixed;
	text-align: right;
	top: 525px;	
	right: 410px;
	display:none;
}
.form {
	display:block; 
}			
#videos {
	position: fixed;
	top: 0px;
	right: 0px;
	display:none;
	width:auto; 
	height:auto;
}
.video {
	display:block;
	border: #c00 0px solid;
}

#chart ,#labels, #videos{
	margin-top:60px;
}
#chart ,#labels{
	margin-left:5px;
}
#text{
	margin:0px auto;
	padding-top:55px;
	padding-bottom:30px;
	width:800px;
	background-color:white;
	opacity:1;
  //text-align: center;
}


p {
	font-family: helvetica;
}
.formtext {
	font-family: ihelvetica;
}
h2 {
	font-family: impact,helvetica;
}

/*a {
	font-family: impact,helvetica;
}*/
a:link, a:visited {
	color: #000;
	text-decoration: underline;
}

figcaption, div.videocaption {
	width:450px;
	margin: 0 auto;
}

div.textvideo{
  text-align: center;
  width:100%;
}
iframe.textvideo{
	width:400px;
	height:300px;
}
figure.textimage{
  text-align: center;
  width:100%;
  margin:10px auto 20px auto;
}
img.textimage{
	width:500px;
	height:auto;
	margin:0 auto;
}



#projectiframe {
	position:fixed;
	width:100%;
	margin:0px;
	top:0px;
	left:0px;
	height:640px;
	z-order:400;
}

#menu{
	z-order:401;
	margin:10px 20px;
	font-size:10pt;
	position: fixed;
	top:0px;
	right:10px;
	text-align:right;
	//left:50px;
	font-family: impact,helvetica;

}
#project_menu {
	font-size:20pt;
}
#context_menu {
	font-size:10pt;
}
#context,#thanks,#method{
	display:none;
}